.box{
    width: 300px;
    height: 300px;
    background: red;
    box-shadow: 10px 10px 10px #000;
}

ul{
    list-style-type: none;
    margin-left: -40px;
}
ul li{
    float: left;
    width: auto;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(to left, red, yellow);
    box-shadow: 3px 3px 3px #000;
    margin-right: 5px;
    padding: 0px 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul li a{
    color: #fff;
    text-decoration: none;
}
ul li:hover{
    background: rgb(27, 27, 92);
    box-shadow: 2px 2px 2px #000;
}
.dosya-listesi ol{
    list-style-type: none;
}
.dosya-listesi a{
    padding-left: 25px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: top left;
}

/**
[ozellik="deger"]>> .... değerine eşit
[ozellik^="deger"]>> .... ile başlayan
[ozellik$="deger"]>> .... ile biten
[ozellik*="deger"]>> .... değeri içeren
[ozellik]>> .... özelliğini kullanan

**/
.dosya-listesi a[href$="docx"]{ 
    background-image: url("../img/word.png");
}
.dosya-listesi a[href$="pdf"]{
    background-image: url("../img/pdf.png"); 
}
.dosya-listesi a[href$="xlsx"]{
    background-image: url("../img/excel.png");
}

body{
    background-image: url("../img/bg2.png");
    background-repeat: repeat;
}

.personel-listesi{
    border:1px solid #000;
}

.personel-listesi tr, .personel-listesi td, .personel-listesi th{
    border:1px solid #000;
}
.personel-listesi tr:first-child, .personel-listesi tr:last-child{
    background: red;
    color: #fff;
}

.personel-listesi tr:nth-child(even){
    background: yellow;
    color: #000;
}
.personel-listesi tr:nth-child(odd){
    background: yellowgreen;
    color: #000;
}
.personel-listesi tr:first-child{
    background: red;
    color: #fff;
}
.personel-listesi tr:nth-child(7n){
    background: plum;
    color: #000;
}

.calisan-listesi{
    border:1px solid #000;
}

.calisan-listesi tr, .calisan-listesi td, .calisan-listesi th{
    border:1px solid #000;
}
.calisan-listesi tr td:nth-child(2n+1), .calisan-listesi tr th:nth-child(2n+1){
    background: red;
    color: #fff;
}


@media screen and (max-width:500px) {
    body{
        background-image: url('../img/bg.avif');
    }
    .calisan-listesi tr td:nth-child(2n+1), .calisan-listesi tr th:nth-child(2n+1){
        background: yellow;
        color: #fff;
    }
}

@media screen and (min-width:501px) and (max-width:750px) {
    .calisan-listesi tr td:nth-child(2n+1), .calisan-listesi tr th:nth-child(2n+1){
        background: green;
        color: #fff;
    }
}

@media screen and (min-width:751px) and (max-width:1000px) {
    .calisan-listesi tr td:nth-child(2n+1), .calisan-listesi tr th:nth-child(2n+1){
        background: purple;
        color: #fff;
    }
}