#ust-kisim{
    height: 41px;
    line-height: 41px;
    color: #fff;
}

.navbar .nav-link{
    color: #000;
}

.carousel-caption{
    right:50%;
    bottom: 15%;
}
.carousel-caption h5{
    font-size: 3em;
    font-family: "Dancing Script", cursive;
}
.kivrimli-baslik{
    background-color: #4680ff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 31px;
}

.baslik-alani p{
    width: 60%;
    text-align: center;
    margin:0 auto;
    color: #585858;
}
.urun{
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 0px 0px 10px #e2e2e2;
    border:none;
}
.urun .card-img-top{
    z-index: -1;
    border-bottom: 1px solid #eeeeee;
    max-height: 262px;
    min-width: auto;
    width: auto !important;
    opacity: .6;
    transition: opacity 0.5s linear;

}
.urun .fiyat{
    color: blue;
    font-size: 1.3em;
    font-weight: bold;
}
.urun .fiyat .eski-fiyat{
    color: #585858;
    font-size: .8em;
    font-weight: 300;
    text-decoration: line-through;
}
.urun .card-body{
    text-align: center;
}
.urun .resim-cerceve{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.dugmeler{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:-40px;
    transition: bottom 0.5s linear;
}
.urun:hover .dugmeler{
    bottom:5px;
}
.urun:hover .card-img-top{
    opacity: 1;
}
.urun .btn:hover{
    background-color: #4680ff;
    color:#fff;
    border-color: #4680ff;
}
.urun .sale{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 75px;
    z-index: 9999;
}

#hizmetler
{
    background-image: url("../img/bg-image.webp");
    background-size: 100% 100vh;
    background-attachment: fixed;
    padding-top:50px;
    min-height: 500px;
    
   
}
#hizmetler{
    padding-bottom: 100px;
}
#hizmetler .box
{
    position: relative;
    z-index: 3;
    padding:25px 5px;
    background-color: #fff;
    width: 70%;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
}
#hizmetler .box span{
display: block;
margin-top: 10px;
font-weight: bold;
}
#hizmetler .row  .col:nth-child(odd){
    margin-top: -20px;
}
#hizmetler .cizgi{
    position: relative;
    height: 100px;
    z-index: 0;
}
#hizmetler .cizgi::before{
    position: absolute;
    content: "";
    left:0;
    top: 100px;
    width: 100%;
    background-image: url("../img/step-arrow.webp");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: invert(1);
    display: block;
}